USE [master]
GO
/****** Object:  Database [TMASSESMENT_TEST]    Script Date: 5/6/2018 11:16:03 AM ******/
CREATE DATABASE [TMASSESMENT_TEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TMASSESMENT_TEST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TMASSESMENT_TEST.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TMASSESMENT_TEST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TMASSESMENT_TEST_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TMASSESMENT_TEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TMASSESMENT_TEST]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 5/6/2018 11:16:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TASK_ID] [nvarchar](50) NULL,
	[SKILL] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Team]    Script Date: 5/6/2018 11:16:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[TEAM_ID] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Team_Skill]    Script Date: 5/6/2018 11:16:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team_Skill](
	[TEAM_ID] [nvarchar](50) NULL,
	[TEAM_SKILL] [nvarchar](50) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Task] ([TASK_ID], [SKILL]) VALUES (N'TASK_29', N'SKILL_2')
INSERT [dbo].[Task] ([TASK_ID], [SKILL]) VALUES (N'TASK_30', N'SKILL_3')
INSERT [dbo].[Task] ([TASK_ID], [SKILL]) VALUES (N'TASK_26', N'SKILL_3')
INSERT [dbo].[Team] ([TEAM_ID]) VALUES (N'TEAM_01')
INSERT [dbo].[Team] ([TEAM_ID]) VALUES (N'TEAM_02')
INSERT [dbo].[Team] ([TEAM_ID]) VALUES (N'TEAM_03')
INSERT [dbo].[Team_Skill] ([TEAM_ID], [TEAM_SKILL]) VALUES (N'TEAM_01', N'SKILL_1')
INSERT [dbo].[Team_Skill] ([TEAM_ID], [TEAM_SKILL]) VALUES (N'TEAM_04', N'SKILL_1')
INSERT [dbo].[Team_Skill] ([TEAM_ID], [TEAM_SKILL]) VALUES (N'TEAM_05', N'SKILL_1')
USE [master]
GO
